#wrap{background: url(background.png) top repeat; font-size: 120%; font-family:"Palatino Linotype"}

.parameters{color:teal; font-style: italic; font-size: 110%;}

.returns{color:maroon; font-style:italic; font-size: 110%;}